# Backend
backend/db.sqlite3
backend/__pycache__/
backend/settings_local.py
backend/venv/
backend/api/__pycache__/
backend/core/__pycache__/

# Frontend
web_client/node_modules/
web_client/dist/


# Desktop
desktop/__pycache__/
desktop/.venv/


# IDE
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
.DS_Store
